.back-to-top {
}
.back-to-top__link {
    position: fixed;
    bottom: 0;
    right: 16px;
    display: block;
    border-radius: 0;
    padding: 0;
    height: 42px;
    width: 48px;
    line-height: 42px;
    text-align: center;
    border-bottom-width: 0;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 50px;
}
.h1,
h1 {
    margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
}

.rendered-note a[href^="#anchor-"] {
    position: absolute;
    right: 100%;
    cursor: pointer;
    padding: 0 8px;
    font-family: serif;
    color: rgba(0, 0, 0, 0.1);
}
.rendered-note a[href^="#anchor-"]:hover {
    color: rgba(0, 0, 0, 0.25);
}
.rendered-note a[href^="#anchor-"]::before {
    display: inline-block;
    content: '#';
}

pre {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 7px 10px;
}
pre code {
    white-space: pre;
    word-wrap: normal;
}

.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-menu-panel {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.nav-menu {
    padding: 0;
}
.nav-menu li {
    list-style-type: none;
}
.nav-menu li.active {
}
.nav-menu .active > a {
    font-weight: bold;
}
.nav-menu .active .nav-submenu {
    display: block;
}
.nav-menu a {
    display: block;
    padding: 5px 10px 5px 0;
    text-decoration: none;
}

.nav-submenu {
    display: none;
    padding: 0 0 0 20px;
    font-size: 12px;
}
.nav-submenu li {
    list-style-type: none;
}
.nav-submenu a {
    --nav-submenu-first-line-indent: 0.7em;

    display: inline-block;
    padding: 7px 0;
    text-decoration: none;
    line-height: 1.2;
    text-indent: calc(-1 * var(--nav-submenu-first-line-indent));
    padding-left: var(--nav-submenu-first-line-indent);
}

.note-source {
    text-align: right;
}

.rendered-note {
    margin-bottom: 45px;
}

.rendered-note ul,
.rendered-note ol {
    padding: 0;
}
.rendered-note ul ul {
    padding-left: 16px;
}

.rendered-note table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.rendered-note th,
.rendered-note td {
    padding: 8px;
}

.navbar {
    margin-bottom: 20px;
}

.progress {
    margin-bottom: 20px;
}

.nav-menu__spinner {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.nav-menu__spinner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px 0;
    animation-duration: 0.25s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

.rendered-note ul li {
    list-style-type: none;
    position: relative;
}
.rendered-note ul li::before {
    display: inline-block;
    content: '-';
    color: rgba(0, 0, 0, 0.25);
    font-size: 1em;
    margin-left: -1em;
    width: 1em;
    line-height: 0;
}
