.back-to-top {
    display: block;
    padding: 5px 10px;
    opacity: 0.5;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 50px;
}
.h1,
h1 {
    margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
}

.rendered-note a[href^="#anchor-"] {
    position: absolute;
    right: 100%;
    cursor: pointer;
    padding: 0 8px;
    background-color: #fff;
    font-family: serif;
    color: #999;
}
.rendered-note a[href^="#anchor-"]::before {
    display: inline-block;
    content: '#';
}

pre {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 0;
    overflow: auto;
}
pre code {
    white-space: pre;
    word-wrap: normal;
}

.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-menu {
    padding: 0;
}
.nav-menu li {
    list-style-type: none;
}
.nav-menu li.active {
}
.nav-menu .active > a {
    font-weight: bold;
}
.nav-menu .active .nav-submenu {
    display: block;
}
.nav-menu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.nav-submenu {
    display: none;
    padding: 0 0 0 25px;
    font-size: 12px;
}
.nav-submenu li {
    list-style-type: none;
}
.nav-submenu a {
    display: block;
    padding: 2px 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.rendered-note {
}

.rendered-note ul,
.rendered-note ol {
    padding: 0;
}
.rendered-note ul ul {
    padding-left: 16px;
}

.rendered-note table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.rendered-note th,
.rendered-note td {
    padding: 8px;
}

.navbar {
    border-radius: 0;
}
.container > .navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;
}
.navbar-brand {
    margin-left: -15px;
}
.navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-right {
    float: right;
    margin: 0 -15px 0 0;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
