.copyright {
  opacity: 0.4;
  font-family: monospace;
  background-color: #fff;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 100%;
  padding: 0.3125rem 0;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.copyright:hover {
  opacity: 1;
  text-decoration: none;
}

.copyright__license {
}

.copyright__author {
  text-decoration: underline;
}
