.nav-menu {
}

.nav-menu ul {
  padding: 0;
  margin: 0;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu li.active {
}

.nav-menu a {
  display: block;
  padding: 5px 10px 5px 0;
  text-decoration: none;
}

.nav-menu .active > a {
  font-weight: bold;
}

.nav-menu .active .nav-submenu {
  display: block;
}

.nav-menu .popular > a::after {
  font-weight: normal;
  content: "★";
  position: relative;
  top: -6px;
}

/**
 * Spinner
 */

.nav-menu__spinner {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 5px;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.nav-menu__spinner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px 0;
  animation-duration: 0.25s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

/**
 * Archive
 */

.nav-menu__archive-title {
  margin-top: 20px;
}
