.rendered-note {
  padding-top: 9px;
  margin-bottom: 45px;
}

/**
 * Headings
 */

h1,
h2,
h3 {
  margin-top: 50px;
}

h1 {
  margin-top: 0;
  color: #37474f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

/**
 * Block Quote
 */

.rendered-note blockquote {
  position: relative;
}

.rendered-note blockquote::before {
  position: absolute;
  right: 100%;
  display: inline-block;
  content: ">";
  color: rgba(0 0 0 25%);
  font-size: 1em;
  width: 1em;
}

.rendered-note ul,
.rendered-note ol {
  padding: 0;
}

.rendered-note ul ul {
  padding-left: 16px;
}

.rendered-note table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.rendered-note th,
.rendered-note td {
  padding: 8px;
}

/**
 * List bullets
 */

.rendered-note ul li {
  list-style-type: none;
  position: relative;
}

.rendered-note ul li::before {
  display: inline-block;
  content: "-";
  color: rgba(0 0 0 25%);
  font-size: 1em;
  margin-left: -1em;
  width: 1em;
  line-height: 0;
}

/**
 * Anchor
 */

.rendered-note a[href^="#anchor-"] {
  position: absolute;
  right: 100%;
  cursor: pointer;
  padding: 0 8px;
  font-family: serif;
  color: rgba(0 0 0 1%);
}

.rendered-note a[href^="#anchor-"]:hover {
  color: rgba(0 0 0 25%);
}

.rendered-note a[href^="#anchor-"]::before {
  display: inline-block;
  content: "#";
  font-size: 0.9em;
}

.rendered-note *:hover > a[href^="#anchor-"] {
  color: rgba(0 0 0 25%);
}

.rendered-note [id] {
  scroll-margin: 1rem;
}
